/* CSS file for about.html */

/* ####  Панель с цитатой под хедером #### */
.panel1 {
/*  border: 1px solid white;*/
  background-color:#6B8FD4;
  width: 100%;
  height: 70px;
  margin-top: -23px;
}

/*.panel1 a {
  display: block;
  list-style-type: none;
*//*  border: 1px solid yellow;*//*
}*/

/*.panel1 a img {
  float: right;
  border: 1px solid grey;
}*/

.panel1 p {
	padding-left: 50px;
	padding-top: 20px;
    color: #DFEAFF;
    font-family: 'Lobster';
    font-size: 21px;
}

/* #####  левый блок  #######*/
.aside {
    float: left;
    background-color:  #FFB700;
    width: 27%;
    padding-left: 15px;
    /*  display: block;*/
}
.about_me {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 20px;
    margin-top: 20px;
    /*    float: left;*/
    font-family: Courier;
    color: #FF7400;
    background: #FFD100;
}

.aside p {
    color: #FBFBFB;
    font-family: Arial;
    padding-right: 20px;
    padding-left: 15px;
}

.block0 {
    background-color: #FFA700;
    padding: 20px;
    margin-right: 20px;
    margin-top: -20px;
}

.block0 a {
    text-decoration: none;
    color: #CCFF00;
}

/* #### средний блок #### */
.aside2 {
  float: left;
  background-color:  #FFB700;
}

.aside2 img {
    margin-bottom: -5px;
}

/*  ####  правый блок  #### */
.aside3 {
    border: 1px solid yellow;
    background-color:  #FFB700;
    width: 35%;
    padding-left: 15px;
    float: right;
/*  display: block;*/
}

.more_about {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 30px;
    margin-top: 20px;
    font-family: Courier;
    color: #FF7400;
    background: #FFD100;
}

.block1 {
    margin-top: 80px;
}

.block2 {
/*    border: 1px solid white;*/
    margin-right: 10px;
    padding: 10px;
    margin-top: -40px;
    margin-right: 40px;
}

.block2  ul {
    display: block;
    background-color:  orange;
    list-style-type: none;
    color: white;
    padding: 20px;
    font-family: Arial;
}

.block2 a {
    text-decoration: none;
    color: #CCFF00;
}

