body {
    background: #f8f8f8;
    padding-left: 5px;
}

h1 {
    color: #FF6F00;
    font-family: 'Lobster';
    font-size: 42px;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
/*  border: 1px solid black*/
}

.header{
  width: 100%;
  height: 100px;
/*  border: 1px solid blue;*/
  background-color: #FFA700;
  padding-left: 25px;

}

.menu {
/*   border: 1px solid green;*/
  list-style-type: none;
  display: flex;
/*   float: right;
   width: 60%;*/

}

.menu li {
/*  border: 1px solid yellow;*/
  width: 15%;
  height: 35px;
  padding-top: 10px;
  margin-top: 20px;
}

.menu li a:hover {
/*	background-color: #009999;*/
	color: #BF8430;
}

.menu li a {
/*   border: 1px solid brown;*/
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 30px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: Arial;
}

.head1 {
/*  border: 1px solid brown;*/
  display: block;
  float: left;
  margin-left: 15px;
  margin-top: 0;
  margin-right: 95px;
}

/* Панель под хедером */
.panel1 {
/*  border: 1px solid white;*/
  background-color:#6B8FD4;
  width: 100%;
  height: 70px;
  margin-top: -23px;
}

/*.panel1 a {
  display: block;
  list-style-type: none;
*//*  border: 1px solid yellow;*//*
}*/

/*.panel1 a img {
  float: right;
  border: 1px solid grey;
}*/

.panel1 p {
	padding-left: 50px;
	padding-top: 20px;
    color: #DFEAFF;
    font-family: 'Lobster';
    font-size: 21px;
}

/* Обертка основной части страницы */
.wrapper{
  width: 100%;
  height: 100%;
/*  border: 1px solid grey;*/
/*  background-color:  #FF9500;*/
   display: flex;
}

.aside {
/*  border: 1px solid yellow; */
  float: left;
/*  display: block;*/
  background-color:  #FFB700;
  width: 53%;
  padding-left: 15px;
/*  height: 350px;*/
}
.about_me {
/*    border: 1px solid #BFA730;*/
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 20px;
    margin-top: 20px;
/*    float: left;*/
    font-family: Courier;
    color: #FF7400;
    background: #FFD100;
}

.aside p {
/*    border: 1px solid grey;*/
    color: #FBFBFB;
    font-family: Arial;
    padding-right: 20px;
    padding-left: 15px;
}

.block0 {
    background-color: #FFA700;
    padding: 20px;
    margin-right: 20px;
    margin-top: -20px;
}

.aside2 {
/*    border: 3px solid grey;*/
/*  display: block;*/
/*  background-color:  #FF9500;*/
/*    width:43.5%;*/
/*  height: 350px;*/
  float: left;
}

.aside2 img {
/*    border: 2px solid grey;*/
    margin-bottom: -5px;
}

.aside3 {
/*  border: 1px solid red;*/
  background-color:  #FFB700;
/*  height: 350px;*/
    padding-left: 15px;
    float: right;
/*  display: block;*/
}

.footer {
  width: 100%;
  height: 200px;
  border: 1px solid black;
  background-color:  #53565D;
  color:  #E6EEFF;
}

.footer p {
	margin-left: 30px;
}

.cls {
  clear: both;
}

.works_list {
    display: block;
    border: 1px solid grey;
    font-size: 16px;
    width: 1150px;
    height: 250px;
    margin-right: 15px;
    margin-bottom: 20px;
    padding-left: 20px;
    color: #FFF5DA;
    background-color: #FF9340;
}

.content{
    border: 1px solid black;
    display: flex;
}

.school_desc {
    border: 1px solid grey;
    font-size: 16px;
    float: left;
/*
    width: 1150px;
    height: 250px;
*/
/*    margin-right: 15px;*/
    padding-left: 30px;
    padding-right: 40px;
    padding-bottom: 50px;
    color: #FFF5DA;
    background-color: #FF9340;
}

.school_list{
    border: 1px solid grey;
    float:right;
    padding: 15px;
    background-color: #4575D4;
    color: #E6EEFF;
    font-size: 20px;
    font-family: Geneva, Arial, Helvetica, sans-serif;
}