<!--{% load staticfiles %}-->
<!DOCTYPE html>
<html lang="ru">

<head>
	<!--<link rel="stylesheet" type="text/css" href="style.css">-->
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
  	<link rel="stylesheet" href="{% static 'css/about.css' %}">
  	<link rel="stylesheet" href="{% static 'css/school.css' %}">
  	<link rel="stylesheet" href="{% static 'css/work.css' %}">
	 <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
	<meta charset="UTF-8">
	<title>Сайт-визитка. AboutMe</title>
</head>

<body>
  <div class="container">
    <div class="header">

      <div class="head1">
        <h1>Django Student Blog </h1>
      </div>

        <ul class="menu">
          <li class="{% if not page %}active{% endif %}">
            <a href="{% url 'about' %}">About me</a>
          </li>
          <li class="{% if page == 'school' %}active{% endif %}">
            <a href="{% url 'school' %}">School of Life</a>
          </li>
          <li class="{% if page == 'work' %}active{% endif %}">
            <a href="{% url 'work' %}">Work is work</a>
          </li>
        </ul>

<!--        <div class="logo_header">
            <a href="#">
                <img src="{% static "images/python_django.png" %}" alt="logo_header"
                width=80px
                height=80px>
            </a>
        </div>-->
        <div class="cls"></div>
    </div>

    {% block panel1 %}
      <div class="panel1">
	      <p>
	      	Единственное счастье в жизни — это постоянное стремление вперёд. (Эмиль Золя)
	      </p>
      </div>
    {% endblock %}

    {% block content %}
    {% endblock %}

    <div class="cls"></div>
    <div class="footer">
      <div class="contacts">
          <ul>
              {%for p in pers%}
              <li>Контактный телефон: &emsp;{{p.tel}} </li>
              <li>e-mail: &emsp;{{p.email}} </li>
              <li>skype: &emsp;{{p.skype}} </li>
              {% endfor %}
          </ul>
      </div>
        <div class="ftr">
            <p>Все права защищены. &copy;</p>
        </div>
    </div>
  </div>
</body>
</html>