{% extends "base.html" %}

{% load staticfiles %}
{% block "panel1" %}
    {{block.super}}
{% endblock %}
{% block "content" %}
    <div class="wrapper">
      <div class="aside">
        <div class="about_me">
          <h3>AboutMe</h3>
        </div>
        <div class="block0">
          <p>   Здравствуйте! Меня зовут {{name}} {{surname}} {{middle_name}}.</p>
          <p>
             Это небольшой проект-визитка, создаваемый в контексте обучения по курсу Django от компании GeekBrains.
          </p>
        </div>
      </div>
      
      <div class="aside2">
        <a href="#">
          <img src="{% static "images/IMG_1107.jpg"%}" alt="фото_ми"
               title="my_photo"
               width="650"
               height="505">
        </a>
      </div>
      
      <div class="aside3">
        <div class="block1">
          <div class="more_about">
            <h3> Подробнее </h3>
          </div>
          <div class="block2">
            <ul>
              <li>  Год рождения:     1975</li>
              <li>  Место рождения:     г.Димитровград</li>
              <li>  Место текущего проживания:    Москва</li>
              <li>  Место основной работы:    МГТС Москва<li>
              <li>  Актуальная профессия:     системный инженер<li>
              <li>  Дхармическая профессия:    преподаватель йоги<li>
              <li>  Место актуальной учёбы:    GeekBrains<li>
              <li>  Текущий курс:     Django<li>
            </ul>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
