<!DOCTYPE html>

{% load staticfiles %}
<html lang="ru">

<head>
	<!--<link rel="stylesheet" type="text/css" href="style.css">-->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	 <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
	<meta charset="UTF-8">
	<title>Сайт-визитка. Эбаут ми</title>
</head>

<body>
  <div class="container">
    <div class="header">

      <div class="head1">
        <h1>Django Student Blog</h1>  
      </div>

        <ul class="menu">
          <li>
            <a href="/">About me</a>
          </li>
          <li>
            <a href="/school/">Life school</a>
          </li>
          <li>
            <a href="/work/">Work is work</a>
          </li>
        </ul>
      <div class="cls"></div>
    </div> 

    <div class="panel1">
	      <p>
	      	Здесь будет, может быть, какая нибудь заумная цитата красивым шрифтом :)
	      </p>
    </div>
    
    <div class="wrapper">
      
      <div class="aside">
        <h2>header2</h2>
        <p>
          Тут будет некий текст c описанием о себе.
        </p>
      </div>
      
      <div class="aside2">
        <a href="#">
          <img src="{% static "images/IMG_1107.jpg"%}" alt="фото_ми"
               title="my_photo"
               width="650"
               height="505">
        </a>
      </div>
      
      <div class="aside3">
        <div class="block2">
         <h3>header3</h3>
          <p>
            планы:
            научиться делать фоновый рисунок с тектом на нём в цветовой гамме или ещё какой descr...
            или полностью фон на горизонтальый блок (фото поверх), а поверх фона текст.
          </p>
        </div>
      </div>
    </div> 
    <div class="cls"></div>
    <div class="footer">
      <p>Все права защищены. &copy;</p>    { Добавить контакты, ссылки на социальные сети с иконками и пр..}
    </div>
  
  </div>
</body>
</html>