{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">

<head>
	<!--<link rel="stylesheet" type="text/css" href="style.css">-->
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
  	<link rel="stylesheet" href="{% static 'css/about.css' %}">
  	<link rel="stylesheet" href="{% static 'css/school.css' %}">
  	<link rel="stylesheet" href="{% static 'css/work.css' %}">
	 <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
	<meta charset="UTF-8">
	<title>Сайт-визитка. Эбаут ми</title>
</head>

<body>
  <div class="container">
    <div class="header">

      <div class="head1">
        <h1>Django Student Blog</h1>  
      </div>

        <ul class="menu">
          <li>
            <a href="/">About me</a>
          </li>
          <li>
            <a href="/school/">School of Life</a>
          </li>
          <li>
            <a href="/work/">Work is work</a>
          </li>
        </ul>
      <div class="cls"></div>
    </div> 

    <div class="panel1">
	      <p>
	      	Единственное счастье в жизни — это постоянное стремление вперёд. (Эмиль Золя)
	      </p>
    </div>
    
    <div class="wrapper">
      
      <div class="aside">
        <div class="about_me">
          <h2>AboutMe</h2>
        </div>
        <div class="block0">
          <p>   Здравствуйте! Меня зовут {{name}} {{surname}} {{middle_name}}.</p>
          <p>
             Это небольшой проект-визитка, создаваемый в контексте обучения по курсу Django от компании GeekBrains.
          </p>
        </div>
      </div>
      
      <div class="aside2">
        <a href="#">
          <img src="{% static "images/IMG_1107.jpg"%}" alt="фото_ми"
               title="my_photo"
               width="650"
               height="505">
        </a>
      </div>
      
      <div class="aside3">
        <div class="block2">
         <h3>Если подробнее: </h3>
          <li>
            <li>Год рождения:     1975</li>
            <li>Место рождения:     г.Димитровград</li>
            <li>Место текущего проживания:    Москва</li>
            <li>Место основной работы:    МГТС Москва<li>
            <li>Актуальная профессия:     системный инженер<li>
            <li>Дхармическая профессия:    преподаватель йоги<li>
            <li>Место актуальной учёбы:    GeekBrains<li>
            <li>Текущий курс:     Django<li>
          </ul>
        </div>
      </div>
    </div> 
    <div class="cls"></div>
    <div class="footer">
      <p>Все права защищены. &copy;</p>    { Добавить контакты, ссылки на социальные сети с иконками и пр..}
    </div>
  
  </div>
</body>
</html>