{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">

<head>
	<!--<link rel="stylesheet" type="text/css" href="style.css">-->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
	<meta charset="UTF-8">
	<title>Сайт-визитка. Эбаут ми</title>
</head>

<body>
	<div class="container">
        <div class="header">
          <div class="head1">
            <h1>Django Student Blog</h1>  
          </div>
            <ul class="menu">
              <li>
                <a href="/">About me</a>
              </li>
              <li>
                <a href="/school/">School of Life</a>
              </li>
              <li>
                <a href="/work/">Work is work</a>
              </li>
            </ul>
          <div class="cls"></div>
        </div> 

        <div class="content">
            <div class="school_desc">
                <h3> О обучении... </h3>
                <br>
                <p>Обучение - странная штука. Вроде всю жизнь (ну почти) чему-то учишься, а потом вдруг обнаруживаешь, что ты ничего не знаешь, по сути. Понимая, что (ну почти) безнадёжно "отстал от поезда" и пора этот самый поезд снова нагонять или перестраиваться. И не важно, что это за "поезд". Школа, техникум, институт - где они? Что сохранилось в голове? Годы самообразования, перековка из институто-образованного дипломированного юриста в странно прогрессирующего  IT-шника с уклоном сначала в сети, потом в Unix, потом снова в сети (втянувшие, в итоге, в среду телекома) - что они значат сейчас? Когда начинаешь понимать, что важен сам процесс, а не результаты "накопления" знаний, привычек, навыков в конкретной профессии - становится... Интересно :) </p>
                <p>Любая работа может примелькаться, стать рутинной или не такой захватывающей, как раньше. Но если получается обнаружить в себе интерес к происходящему и готовность осваивать новое - не ради накопительства и удовлетворения своих амбиций, конечно. Лишь в  кристально практическом и обоснованном контекстом происходящего смысле. Тогда такое движение к новым вершинам знаний, получения новых навыков и способностей - становится естественным, мотивация - вдохновлённой и обоснованной.</p>
                <p>Так, видимо, и случилось. Возникшее желание и возможность начать снова осваивать новую профессию, упрочиться в существующих навыках и попробовать себя в новом (перспективном, нужно отметить) качестве - не случайно. Случайностей вообще не бывает ;) Возраст особо не имеет значения, важна лишь готовность двигаться, прилагать усилия и расставлять приоритеты в нашем суетном мире отвлечений.</p>
                Программирование на живом и интересном языке, освоение и углубление основ работы в сфере веб-технологий. Что будет дальше? Применение узнаваемого и осваиваемого на курсах GeekBrains уже в текущем контексте деятельности (на работе и "дома") или понимание необходимости получения возможности быть в ногу с актуальными и востребованными тенденциями на рынке труда  - думается, что всё это не напрасно! Тем более, что процесс освоения нового сам по себе достаточно захватывающий (несмотря на сложности втискивания времени обучения в плотный график жизни нескучающего жителя мегаполиса).<br>
                <p>А что было до того? Понятно, что школа. Потом в техникум (помниться что-то про молочную промышленность). Затем заочный юридический факультет столичного  института. И вдуг что-то пошло не так, юриспруденция разочаровала - увлечение основами построения компьютерных сетей, от простых к более сложным на меняющейся по усложнению работе. И вот уже появляется Linux в качестве ОС, серверы и десктоп, сети становяться "большими". Постоянный процесс самообучения в реальной среде - это сильная мотивация и неплохая школа. Но любой процесс обучения замирает в рабочей рутине. И вот на сцену выходит.. онлайн-обучение!  И GeekBrains даёт возможность снова вернуться к процессу обновления. А насколько серьёзно  - время покажет.</p>
            </div>
            <div class="school_list">
                <h4>Где учился:</h4>
                <ul>
                {% for i in learns %}
                    <li> {{i}} </li>
                {% endfor %}
                </ul>
            </div>
        </div>

        <div class="footer">
            <footer>
                <p> &copy; Все права защищены. Правообладатель, как всегда, ни за что не отвечает :) </p>

                <div>

                </div>
                <div>

                </div>
            </footer>
        </div>
    </div>
</body>
</html>