<!DOCTYPE html>

{% load staticfiles %}
<html lang="ru">

<head>
	<!--<link rel="stylesheet" type="text/css" href="style.css">-->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
	<meta charset="UTF-8">
	<title>Сайт-визитка. Эбаут ми</title>
</head>

<body>
	<div class="container">
        <div class="header">
          <div class="head1">
            <h1>Django Student Blog</h1>  
          </div>
            <ul class="menu">
              <li>
                <a href="/">About me</a>
              </li>
              <li>
                <a href="/school/">Life school</a>
              </li>
              <li>
                <a href="/work/">Work is work</a>
              </li>
            </ul>
          <div class="cls"></div>
        </div> 

        <div class="content">
            <h3> О учёбе... </h3>
            <br>
            <p>
            Обучение - странная штука. Вроде всю жизнь (ну почти) чему-то учишься, а потом вдруг обнаруживаешь, что ты ничего не знаешь, по сути, безнадёжно "отстал от поезда" и пора нагонять или перестраиваться. И не важно, что это за "поезд". Школа, техникум, институт - где они? Что сохранилось? Годы самообразования, перековки из институто-образованного дипломированного юриста в странно прогрессирующего  IT-шника с уклоном сначала в сети, потом в Unix, потом снова в сети (затянувшие в итоге в телеком) - что они значат сейчас? Когда начинаешь понимать, что важен сам процесс, а не результаты "накопления" знаний, привычек, навыков в конкретной профессии - становится... Интересно :)
            Любая работа может примелькаться, стать рутинной или не такой захватывающей. Но если получается обнаружить в себе интерес и готовность осваивать новое (не ради накопительства и удовлетворения амбиций, конечно - в кристально практическом и  обоснованном контекстом происходящего смысле), то такое движение к новым вершинам знаний, получения новых навыков и способностей - становится естественным, мотивация - вдохновлённой и обоснованной.<br>
            Видимо так и получается пока с желанием получить новые навыки и профессию, может быть, в качестве.. кого? Кто знает ;) Программирование на живом и интересном языке, освоение и углубление основ работы в сфере веб-технологий, как фронтенда, так и бэкенда. Применение всего  узнаваемого и осваиваемого на курсах GeekBrains уже в текущем контексте деятельности (на работе и "дома") или понимание необходимости получение способности быть в ногу с актуальными и востребованными тенденциями на рынке труда  - думается, что всё это не напрасно! Тем более, что процесс сам по себе достаточно захватывающий (несмотря на сложности втискивания учёбы в плотный график жизни нескучающего жителя мегаполиса).<br>
            А что было до того? Учёба в школе. Потом в техникуме (помниться что-то про молочную промышленность). Затем заочный юридический факультет столичного  института. И вдуг что-то пошло не так, юриспруденция разочаровала - увлечение основами построения компьютерных сетей, от простых к более сложным на меняющейся работе. И вот уже появляется Linux в качестве ОС, серверы и десктоп. Процесс самообучения в реальной среде - это сильная мотивация и неплохая школа. Но процесс обучения замирает в рабочей рутине и... На сцену выходит онлайн-обучение!
            GeekBrains дал возможность снова вернуться к процессу обновления. А насколько серьёзно  - время покажет.
            </p>  
        </div> 

        <div class="footer">
            <footer>
                <p> &copy; Все права защищены. Правообладатель, как всегда, ни за что не отвечает :) </p>
            </footer>
        </div>
    </div>
</body>
</html>