{% extends "base.html" %}

{% block "panel1" %}
      <div class="panel1">
	      <p>
            Когда взберёшься на высокую гору, перед тобой открывается огромное множество гор, на которые ещё только предстоит взобраться.
            (Нельсон Мандела)
	      </p>
      </div>
{% endblock %}

{% block "content" %}
    <div class="wrapper3">
        <div class="work_descr">
            <h3> Описание о работе </h3>
        </div>
        <div class="works_list">
            <h4>:</h4>
            <ul>
            {% for w in my_works %}
                <li> {{w}} </li>
            {% endfor %}
            </ul>

        </div>
        <div class="cls"></div>

<!--        <div class="tmp_video">
            <p>
                Если вы устали всё это читать - отдохните, поберегите глаза. Немного полезной информации ;)
            </p>

            <div class="video">
                <iframe src="https://video.oum.ru/embed/10052" width="640" height="360" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen="true" frameborder="0"></iframe>
            </div>-->

        </div>
    </div>
{% endblock %}