{% extends "base.html" %}

{% block "panel1" %}
      <div class="panel1">
	      <p>
            Когда взберёшься на высокую гору, перед тобой открывается огромное множество гор, на которые ещё только предстоит взобраться.
            (Нельсон Мандела)
	      </p>
      </div>
{% endblock %}

{% block "content" %}
    <div class="wrapper3">
        <div class="work_descr">
            <h3> Work is work </h3>
            <div class="work_p">
                <p>Есть такое выражение - <i>"Работа - не волк, работа - это ворк..."</i>. Позволю себе не согласиться. Потому что работа - это всегда Путь. Или дорога. Ты выбираешь её, а потом следуешь по ней. Либо, как бывает с людьми в дороге - присаживаешься на обочину отдохнуть и... Застреваешь в этом состоянии. И не то, чтобы дорога должна иметь какой-нибудь финал. Важен сам процесс движения. А получение вознаграждения (живём, чтобы работать или работаем, чтобы жить?), должностей и званий, признания или стабильности - это всё либо побочные эффекты своей трудовой деятельности, либо.. Всё тот же повод "присеть" у обочины своего Пути и застрять там. А время (увы) - ограничено.</p>
                <p>Если же осознать, что устанавливаемые перед собой цели на трудовом пути - это всего лишь "остановки", промежуточные "вершины", а сама суть - в постоянном движении, в изменении, в собственном росте и готовности меняться - тогда не попадешь в состояние, что "работа приелась", возник застой или просто ощущение, что живешь лишь ради работы-аля-способа оплатить свои потребности (которые никогда не удовлетворить таким способом, кстати).</p>
                <p>Впрочем, реалии современного общества по сути устроены так, что человек чаще стремиться избегать потенциальных изменений, пытаеться обрести стабильность (в работе в том числе) и цепляется за минимую безопасность устойчивого состояния в жизни. Это нормально, но легко приводит а ту же "обочину". А значит работа перестаёт быть Путём, а становится мнимым "бастионом". Который суть - всё равно лишь временное убежище (всё непостоянно - помните?). </p>
                <p>Какой выход? Постоянно стремиться развиваться! Преодолевать естественную тягу к желанию "окопаться" на очередной работе, наслаждаться самим процессом и не стремясь просто соскочить на следующую работу, конечно - продвигаться вперёд. Осваивать новое, улучшать текущее, строить планы и.. Быть готовым отказаться от них, если они тоже - всего лишь убежище. Работа должна отражать нашу суть, быть выражением своего стремления двигаться. А не попыткой оправдать суетный или скучный уже себе процесс необходимостью зарабатывать "на жизнь" или просто потому что "все так делают". Вознаграждение важно, однако это тоже лишь часть процесса ;) Быть собой, найти своё выражение в жизни, свою Дорогу - и всё придёт.</p>
                <p>Поэтому жизненно важно быть готовым осваивать новое. Онлайн-обучение (не исключающие, но дополняющие самообразование) - замечательный "бонус" нашего времени. Потому проекты, подобные GeekBrains, открывают несомненно стоящие того возможности к тому, чтобы не застрять на своей "обочине". Получение актуальных навыков и профессий, динамика и поддержка процесса обучения - не обещание, что всё получится (для того нужно прилагать собственные усилия, в первую очередь), но отличный шанс для того, чтобы работа была всегда интересной и оправданной.</p>
            </div>
        </div>
        <div class="works_list">
            <h4>Где трудился</h4>
            <div class="block7">
            {% if my_works %}
            {% for w in my_works %}
                <div class="w_lst">
                    <p>Место работы:    <i>{{w.name}} </i></p>
                    <p>Профессия:       <i>{{w.prof}}</i></p>
                    <p>Что делал:       <i>{{w.desc}}</i></p>
                </div>
            {% endfor %}
            {% else %}
                Ещё не работал...
            {% endif %}
            </div>
        </div>
        <div class="cls"></div>

<!--        <div class="tmp_video">
            <p>
                Если вы устали всё это читать - отдохните, поберегите глаза. Немного полезной информации ;)
            </p>

            <div class="video">
                <iframe src="https://video.oum.ru/embed/10052" width="640" height="360" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen="true" frameborder="0"></iframe>
            </div>-->

        </div>
    </div>
{% endblock %}